body {
  font-family: Lucida, serif;
}
img {
  max-height: 200px;
  float: right;
}

.box-model {
  margin: 8px;
  border: 2.5px solid teal;
  padding: 2px;
  background-color: lightcyan;
}
.whitewater {
  text-transform: uppercase;
}
