body {
  font-family: Lucida, serif;
  background: linear-gradient(lightcyan, white);
}

img {
  max-height: 200px;
  float: right;
}

a {
  color: teal;
}

ul {
  list-style: none;
}

.name-CASCADING {
  font-family: fantasy;
  color: teal;
  text-align: center;
  font-size: 45px;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
}

.box-model {
  margin: 8px;
  border: 2.5px solid teal;
  padding: 2px;
  background-color: lightcyan;
}

.whitewater {
  text-transform: uppercase;
}
